body {
  font-size: 16px;
  color: black;
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;	
}

/** HEADER **/
.container {
  margin-left: 0px;
}
#header-nav {
  background-color: gray;
  border-radius: 0;
  border: 2px solid black;
}
.navbar-brand { 
  margin-top: 10px;
  margin-bottom: 15px;
}
.navbar-brand a { /* "Food, LLC" */
  font-size: 1.5em;
  color: black;
  text-align: left;
  padding: 10px 0px 10px 20px;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  padding-top: 10px;
  margin-top: 15px;
}

.navbar-right .visible-xs {
  margin-top: 3px;
  background-color: lightgrey;
}

#nav-list li {
  font-size: 1.2em;
  color: black;
  text-align: center;
  padding-top: 1px;
  padding-bottom: 1px;
}

#nav-list li:hover {
  background-color: red;	
}

#Page_Title {
  font-size: 1.8em;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  text-align: center;
  background-color: grey;
  padding: 5px 0px 10px 0px;
  margin-bottom: 0;
  margin-right: 10px;
  margin-left: 10px;
}

.dummy_text {
  height: 1000px;
  background-color: grey;
  padding: 0px 10px 10px 10px;
  margin-top: 0;
  margin-right: 10px;
  margin-left: 10px;
}






